<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropit-Home</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1RdRz-ri8jYe0of-sjPdXqKuyPfL32B3v"/>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1IDIM7jghnXCPC2GLOUECgmR62cio7UZV"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0"
    />
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <a data-scroll="home" href="#home" class="active"> Home </a>
      <a data-scroll="about" href="#about"> About </a>
      <a data-scroll="work" href="#work"> Work </a>
      <a data-scroll="pricing" href="#pricing"> Pricing </a>
      <a data-scroll="account" href="/login"> Login </a>
      <a data-scroll="account" href="/register"> Signup </a>
    </nav>

    <section id="home" class="section">
      <div class="container">
        <div class="content-wrapper text-center">
          <div class="content">
            <h2>Hello, This Is <br />The Home Section</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore odit ipsam expedita dolorem.<br />
              Distinctio, aliquid minima voluptatem saepe.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="section">
      <div class="container">
        <div class="content-wrapper text-center">
          <div class="content">
            <h1>Try it Yourself </h1>
            <div class="box">
              <form name="basic_search_requset" action="/fsearch" method="POST">
                  <input type="text" class="input200" name="keyword">
                  <button type="submit" class="btn">Learn More</button>
              </form>
              <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    </section>

    <section id="work" class="section">
      <div class="container">
        <div class="content-wrapper text-center">
          <div class="content">
            <h2>Hello, I'm The <br />Work Section</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore odit ipsam expedita dolorem.<br />
              Distinctio, aliquid minima voluptatem saepe.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="pricing" class="section">
      <div class="container">
        <div class="content-wrapper text-center">
          <div class="content">
            <div class="cards">
              <div class="card shadow">
                <ul>
                  <li class="pack">Basic</li>
                  <li id="basic" class="price bottom-bar">&dollar;199.99</li>
                  <li class="bottom-bar">500 GB Storage</li>
                  <li class="bottom-bar">2 Users Allowed</li>
                  <li class="bottom-bar">Send up to 3 GB</li>
                  <li><button class="btn">Learn More</button></li>
                </ul>
              </div>
              <div class="card active">
                <ul>
                  <li class="pack">Professional</li>
                  <li id="professional" class="price bottom-bar">&dollar;249.99</li>
                  <li class="bottom-bar">1 TB Storage</li>
                  <li class="bottom-bar">5 Users Allowed</li>
                  <li class="bottom-bar">Send up to 10 GB</li>
                  <li><button class="btn active-btn">Learn More</button></li>
                </ul>
              </div>
              <div class="card shadow">
                <ul>
                  <li class="pack">Master</li>
                  <li id="master" class="price bottom-bar">&dollar;399.99</li>
                  <li class="bottom-bar">2 TB Storage</li>
                  <li class="bottom-bar">10 Users Allowed</li>
                  <li class="bottom-bar">Send up to 20 GB</li>
                  <li><button class="btn">Learn More</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="main.js"></script>
  </body>
</html>