<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropit-Login</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1RdRz-ri8jYe0of-sjPdXqKuyPfL32B3v"/>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1IDIM7jghnXCPC2GLOUECgmR62cio7UZV"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0"
    />
  </head>
  <body>
    <nav id="navbar" class="navbar">
      <a data-scroll="home" href="/#home" class="active"> Home </a>
      <a data-scroll="about" href="/#about"> About </a>
      <a data-scroll="work" href="/#work"> Work </a>
      <a data-scroll="pricing" href="/#pricing"> Pricing </a>
      <a data-scroll="account" href="/login"> Login </a>
      <a data-scroll="account" href="/register"> Signup </a>
    </nav>
      <div class="limiter">
        <div class="container-login100">
          <div class="wrap-login100">
              <h1>Welcome</h1>
              <span class="login100-form-title p-b-48">
                <i class="zmdi zmdi-font"></i>
              </span>
              <form action="/auth/login" class="form-container" method="POST">
              </form>
              <form action="/auth/login" class="form-container" method="POST">
                <h1>Login</h1>
                <input class="input100" type="text" name="login_email" placeholder="Email">
                <input class="input100" type="password" name="login_password" placeholder="Password">
                <a href="/register.html">Don't Have an acount?</a>
                <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" type="submit" >Login</button>
                  </div>
                </div>
              </form>
              <div class="text-center p-t-115">
                  <p>Don’t have an account?</p>
                <a class="txt2" href="/register">Sign Up</a>
              </div>
          </div>
        </div>
      </div>


  </body>
</html>